<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
        <script type="text/javascript" src="/js/snake.js"></script>
    </head>
    <meta charset="utf-8">
    <title>SnakeCommerce Admin Panel</title>
</head>
<body>
    <div id="mainContainer">
        <div id="adminNavContainer">
            <nav id="adminNav">
                <ul>
                    <li><a href="#"><img src="images/test/icon-1.svg" class="menuIcon"></a></li>
                    <li><a href="#"><img src="images/test/icon-2.svg" class="menuIcon"></a></li>
                    <li><a href="#"><img src="images/test/icon-3.svg" class="menuIcon"></a></li>
                    <li><a href="#"><img src="images/test/icon-4.svg" class="menuIcon"></a></li>
                </ul>
            </nav>
        </div>
            <div id="navContainer">
                <nav id="nav">   
                    <ul>
                        <li class="rightSpace"><a href="/admin">Admin</a></li>
                        <li><a href="/">Home</a></li>
                    </ul>
                </nav>
            </div>
            <div id="contentContainer">
                {{{body}}}
            </div>
    </div>
<script type="text/javascript">
    window.onload = cookieTest();
</script>
</body>
</html>