<div style="padding-top: 50px; height: 100vh;">
    <h1 style="padding-top: 30px;">SnakeCommerce</h1>
    <h2>A slitheringly good node.js eCommerce platform.</h2>
    <img src="images/joe-davine.jpg" style="width: 300px;">
</div>