<div id="productsContainer">
    <div id="galleryContainer">
        <a href="#"><img src="images/ideas1.jpg" class="mainGalleryImage"></a>
        <a href="#"><img src="images/ideas1.jpg" class="firstSmallGalleryImage fadeHover"></a>
        <a href="#"><img src="images/ideas1.jpg" class="smallGalleryImage fadeHover"></a>
            <a href="#"><img src="images/ideas1.jpg" class="smallGalleryImage fadeHover"></a>
        <a href="#"><img src="images/ideas1.jpg" class="lastSmallGalleryImage fadeHover"></a>
    </div>
    <div id="productInfoContainer">
        <h2 id="productTitle">Product Test</h2>
        <p>Text about the product to go here...</p>
        <p>Etiam blandit malesuada ligula et maximus. Aenean scelerisque ipsum eu vehicula sollicitudin. Etiam blandit malesuada ligula et maximus.  Etiam blandit malesuada ligula et maximus. Aenean scelerisque ipsum eu vehicula sollicitudin.</p>
        <p>Etiam blandit malesuada ligula et maximus. Aenean scelerisque ipsum eu vehicula sollicitudin. Etiam blandit malesuada ligula et maximus.</p>
        <br><br>
        <a class="submitButton ctaSpace" href="#">Add to Basket</a>
    </div>
</div>

<div id="collectionContainer">
    <h3>Test Collection</h3>
    <div id="collectionGalleryContainer">
        <a href="#"><img src="images/ideas1.jpg" class="collectionImage first fadeHover"></a>
        <a href="#"><img src="images/ideas1.jpg" class="collectionImage fadeHover"></a>
        <a href="#"><img src="images/ideas1.jpg" class="collectionImage last fadeHover"></a>
        <div style="clear: both;">
            <br><br>
            <a href="#" class="submitButton ctaSpace">Shop Collection</a>
        </div>
    </div>
</div>

<div>
    <h3>Testing</h3>
</div>