/* GENERAL STYLES LOL */

body {
    font-family: 'arial' sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.rightSpace {
    margin-right: 15px;
}


/* TEST STYLES */

.testHeight {
    height: 2000px;
}

/* MAIN CONTAINER */
#mainContainer {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: orange;
}

#mainContainer h1 {
    text-align: center;
    font-family: 'arial' sans-serif;
    margin-top: 0px;
}

/* NAVIGATION */

#nav ul {
    margin: 0px;
    list-style-type: none;
}

#nav a {
    text-decoration: none;
    color: #000;
}

#nav a:hover {
    text-decoration: underline;
}

#nav li {
    float: right;
    padding-left: 10px;
}

#nav {
    padding-top: 15px;
}

/* ADMIN NAVIGATION */

#adminNavContainer {
    width: 50px;
    height: 100%;
    position: fixed;
    background-color: #97c79a;
}

#adminNav ul {
    margin: 0px;
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 0px;
}

#adminNav a {
    text-decoration: none;
    color: #fff;
}

.menuIcon {
    width: 30px;
    padding: 10px;
}

.menuIcon:focus {
    border: none;
}
    


/* CONTENT CONTAINER */

#contentContainer {
    clear: both;
}

