/* GENERAL STYLES */

body {
    font-family: 'arial' sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.rightSpace {
    margin-right: 15px;
}

.ctaSpace {
    margin-top: 300px;
    transition-duration: 0.5s;
}

.ctaSpace:hover {
    background-color: #649368;
    border-color: #649368;
    transition-duration: 0.5s;
}

.fadeHover {
    opacity: 0.7;
    transition-duration: 0.5s;
}

.fadeHover:hover {
    opacity: 1;
    transition-duration: 0.5s;
}



/* TEST STYLES */

.testHeight {
    height: 2000px;
}

/* MAIN CONTAINER */
#mainContainer {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

#mainContainer h1 {
    text-align: center;
    font-family: 'arial' sans-serif;
    margin-top: 0px;
    padding-top: 70px;
}

/* NAVIGATION */

#navContainer {
    height: 50px;
    background-color: #97c79a;
    position: fixed;
    width: 100%;
}

#nav ul {
    margin: 0px;
    list-style-type: none;
}

#nav a {
    text-decoration: none;
    color: #fff;
}

#nav a:hover {
    text-decoration: underline;
}

#nav li {
    float: right;
    padding-left: 10px;
}

#nav {
    padding-top: 15px;
}

/* ADMIN VARIANT OF NAV */

#navContainerAdmin {
    height: 50px;
    color: #000;
    position: fixed;
    width: 100%;
}

#navAdmin ul {
    margin: 0px;
    list-style-type: none;
}

#navAdmin a {
    text-decoration: none;
    color: #000;
}

#navAdmin a:hover {
    text-decoration: underline;
}

#navAdmin li {
    float: right;
    padding-left: 10px;
}

#navAdmin {
    padding-top: 15px;
}

/* ADMIN NAVIGATION */

#adminNavContainer {
    width: 50px;
    height: 100%;
    position: fixed;
    background-color: #97c79a;
    z-index: 2;
}

#adminNav ul {
    margin: 0px;
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 0px;
}

#adminNav a {
    text-decoration: none;
    color: #fff;
}

.menuIcon {
    width: 30px;
    padding: 10px;
}

.menuIcon:focus {
    border: none;
}

.snakeLink:hover {
    color: #636363 !important;
}
  



/* CONTENT CONTAINER */

#contentContainer {
    clear: both;
}


.linkStyle {
    color: #fff;
    text-decoration: none;
}

.linkStyle:hover {
    text-decoration: underline;
}

.submitButton {
    border: 1px solid #97c79a;
    padding: 8px 20px 8px 20px;
    background-color: #97c79a;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.submitButton:focus {
    outline: none;
}

.submitButton:active {
    background-color: #649368;
    border-color: #649368;
    transition-duration: 0.2s;
    
}

/* PRODUCT STYLES */
#productsContainer {
    padding-top: 50px; 
    height: 80vh;
}

#galleryContainer {
    float: left;
    margin-left: 100px;
    margin-top: 100px;
}

.mainGalleryImage {
    width: 300px;
    float: left;
}

.firstSmallGalleryImage {
    width: 60px;
    float: left;
    clear: both;
    margin-top: 20px;
    margin-right: 20px;
}

.smallGalleryImage {
    width: 60px;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}

.lastSmallGalleryImage {
    width: 60px;
    float: left;
    margin-top: 20px;
}

#productInfoContainer {
    text-align: left;
    margin-left: 500px;
    margin-top: 100px;
    max-width: 500px;
}
#collectionContainer {
    background-color: #cecece;
}

#collectionContainer h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#collectionGalleryContainer {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.collectionImage {
    width: 240px;
    padding-right: 20px;
}



.last {
    padding-right: 0px;
}
