/* GENERAL STYLES LOL */

body {
    font-family: 'arial' sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.rightSpace {
    margin-right: 15px;
}


/* TEST STYLES */

.testHeight {
    height: 2000px;
}

/* MAIN CONTAINER */
#mainContainer {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

#mainContainer h1 {
    text-align: center;
    font-family: 'arial' sans-serif;
    margin-top: 0px;
    padding-top: 70px;
}

/* NAVIGATION */

#navContainer {
    height: 50px;
    background-color: #97c79a;
    position: fixed;
    width: 100%;
}

#nav ul {
    margin: 0px;
    list-style-type: none;
}

#nav a {
    text-decoration: none;
    color: #fff;
}

#nav a:hover {
    text-decoration: underline;
}

#nav li {
    float: right;
    padding-left: 10px;
}

#nav {
    padding-top: 15px;
}

/* ADMIN VARIANT OF NAV */

#navContainerAdmin {
    height: 50px;
    color: #000;
    position: fixed;
    width: 100%;
}

#navAdmin ul {
    margin: 0px;
    list-style-type: none;
}

#navAdmin a {
    text-decoration: none;
    color: #000;
}

#navAdmin a:hover {
    text-decoration: underline;
}

#navAdmin li {
    float: right;
    padding-left: 10px;
}

#navAdmin {
    padding-top: 15px;
}

/* ADMIN NAVIGATION */

#adminNavContainer {
    width: 50px;
    height: 100%;
    position: fixed;
    background-color: #97c79a;
    z-index: 2;
}

#adminNav ul {
    margin: 0px;
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 0px;
}

#adminNav a {
    text-decoration: none;
    color: #fff;
}

.menuIcon {
    width: 30px;
    padding: 10px;
}

.menuIcon:focus {
    border: none;
}

.snakeLink:hover {
    color: #636363 !important;
}
  



/* CONTENT CONTAINER */

#contentContainer {
    clear: both;
}


.linkStyle {
    color: #fff;
    text-decoration: none;
}

.linkStyle:hover {
    text-decoration: underline;
}

.submitButton {
    border: 1px solid #97c79a;
    padding: 8px 20px 8px 20px;
    background-color: #97c79a;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.submitButton:focus {
    outline: none;
}

.submitButton:active {
    background-color: #649368;
    border-color: #649368;
    transition-duration: 0.2s;
    
}
